@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MaroonBold";
  src: local("MaroonBold"),
    url("../fonts/MaroonBold.ttf") format("truetype");
  font-weight: normal;
}

.font {
	font-family: MaroonBold
}
