/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=RocknRoll+One&display=swap");

h1 {
	font-family: 'RocknRoll One', sans-serif;
}
.contain {
	position: relative;
	text-align: center;
  color: white;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
		z-index: -1;
} */
